@font-face{
    font-family: "dyna";
    src: url("fonts/Dynamix.ttf") format("truetype");
}

@font-face{
    font-family: "billo";
    src: url("fonts/billo.ttf") format("truetype");
}

@font-face{
    font-family: "mari";
    src: url("fonts/Marimpa.ttf") format("truetype");
}

@font-face{
    font-family: "royal";
    src: url("fonts/royal.ttf") format("truetype");
}

/*backgrounds---------------------------------------------------------------------*/

.background{
	position:fixed;
	z-index:-2;
	inset:0;
	width:100%;
	height:100%;
}

.bg1,
.bg2,
.bg3,
.bg4,
.bg5{
	position:absolute;
	inset:0;
	background-size:cover;
	background-position:center top;
	background-repeat:no-repeat;
}

.bg1{
	background-image:url(images/bg.jpg);
}

.bg1::after{
	content:"";
	position:absolute;
	inset:0;
	background:linear-gradient(
		to right,
		rgba(255,0,255,0.3),
		rgba(0,255,255,0.3)
	); /*pink to cyan gradient*/
	pointer-events:none;
}

.bg2{
	background-image:
	linear-gradient(
		to right,
		rgba(0,0,255,0.3),
		rgba(255,0,0,0.3)
	), /*blue to red*/
	url(images/janebg.jpg);
	opacity:0;
}

.bg3{
	background-image: url(images/nurture.jpg);
	display:none;
}

.bg4{
	background-image: url(images/simibg.jpg);
	display:none;
}

.bg5{
	background-image: url(images/gamebg.jpg);
	display:none;
}

/*start of html*/

.historyoverall{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center; /*to center title*/
	position:relative;
}

.main{
	position:relative;
	display:flex;
	gap:30px;
	align-items:flex-start;
}
.main2{
	position:relative;
	display:flex;
	gap:30px;
	flex-direction:column;
}
/*animation to change backgrounds(and fade in)*/
section{
	opacity:0;
	transform:translateY(40px);
	transition:opacity 1s, transform 1s;
}

section.show{
	opacity:1;
    transform:translateY(0);
}

/*titles----------------------------------------------------------------------------------------*/
.title{
	font-family:"dyna",sans-serif;
	font-size:50px;
	border:6px solid #8B639B;
	border-radius:15px; /*rounded edges*/
	background-color:white;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4); /*slight shadow behind the boxes*/
	padding:10px;
	filter:drop-shadow(0 0 25px #F5CBCB); /*slight glow*/
	opacity:0.8;
	margin:10px;
}

.title2{
	display:none;
	font-family:"dyna",sans-serif;
	font-size:50px;
	text-align:center;
	border:6px solid #9FCBAD;
	border-radius:15px; /*rounded edges*/
	background-color:#D9F9DF;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4); /*slight shadow behind the boxes*/
	padding:10px;
	filter:drop-shadow(0 0 25px #D9F9DF); /*slight glow*/
	opacity:0.8;
	margin:10px;
}

.title3{
	display:none;
	font-family:"dyna",sans-serif;
	font-size:50px;
	text-align:center;
	border:6px solid #FF97D0;
	border-radius:15px; /*rounded edges*/
	background-color:#FFA6FB;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4); /*slight shadow behind the boxes*/
	padding:10px;
	filter:drop-shadow(0 0 25px #FFA6FB); /*slight glow*/
	opacity:0.8;
	margin:10px;
}

.title4{
	display:none;
	font-family:"dyna",sans-serif;
	font-size:50px;
	text-align:center;
	border:6px solid #443199;
	border-radius:15px; /*rounded edges*/
	background-color:#111844;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4); /*slight shadow behind the boxes*/
	padding:10px;
	filter:drop-shadow(0 0 25px #111844); /*slight glow*/
	opacity:0.8;
	margin:10px;
	color:white;
}

/*all asides---------------------------------------------------------------------------------*/

.sidebar aside{
	font-family:"dyna",sans-serif;
	font-size:40px;
	border:6px solid #C5B3D3;
	border-radius:15px;
	background-color:#FFFCE1;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4);
	filter:drop-shadow(0 0 25px #F5CBCB);
	padding:10px;
	text-align:center;
	opacity:0.8;
}

.artists aside{
	font-family:"dyna",sans-serif;
	font-size:40px;
	border:6px solid #9FCBAD;
	border-radius:15px;
	background-color:#D9F9DF;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4);
	filter:drop-shadow(0 0 25px #D9F9DF);
	padding:15px;
	text-align:center;
	opacity:0.8;
	height:414px;
}

.artists aside ul{
	margin-bottom:35px;
}

.artists aside ul li{
	margin-top:35px;
}

.similargenres aside{
	font-family:"dyna",sans-serif;
	font-size:40px;
	border:6px solid #FF97D0;
	border-radius:15px;
	background-color:#FFA6FB;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4);
	filter:drop-shadow(0 0 25px #FFA6FB);
	padding:15px;
	text-align:center;
	opacity:0.8;
}

.similargenres ul{
	margin-bottom:25px;
}

.similargenres ul li{
	margin-top:29px;
}

.game aside{
	font-family:"dyna",sans-serif;
	font-size:40px;
	border:6px solid #443199;
	border-radius:15px;
	background-color:#111844;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4);
	filter:drop-shadow(0 0 25px #111844);
	padding:15px;
	text-align:center;
	opacity:0.8;
	color:white;
}

ul{
	list-style-type:none;
	font-size:20px;
	margin:0;
	padding:0;
	margin-bottom:20px;
}

ul li{
	margin-top:20px;
	border-radius:15px;
}

ul li:hover{
	background:#E7E1B1;
	cursor:pointer;
}

ul li:active{
	background:#DCC3AA;
}

/*beige part of history-----------------------------------------------------------------------*/

.history h1{
	font-family:"dyna",sans-serif;
	font-size:40px;
	text-align:center;
}

.history{
	flex:1;
	font-size:30px;
	border:6px solid #C5B3D3;
	border-radius:15px;
	background-color:#FFFCE1;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4);
	filter:drop-shadow(0 0 25px #F5CBCB);
	opacity:0.8;
	margin-bottom:40px;
}

.history h2{
	font-family:"billo",sans-serif;
	margin-left:20px;
	margin-top:0;
	margin-bottom:10px;
}

.history p{
	font-family:"mari",sans-serif;
	margin-left:20px;
	margin-top:0;
	margin-bottom:17px;
	font-size:25px;
	width:97%;
}

.history span{
	color:#65DCD5;
	text-decoration:none;
}

/*grey part of history ------------------------------------------------------------------*/

.current{
	flex:1;
	font-size:30px;
	border:6px solid #4B5694;
	border-radius:15px;
	background-color:#7288AE;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4);
	filter:drop-shadow(0 0 25px #4B5694);
	opacity:0.8;
}

.current span{
	color:#AA1C41;
	text-decoration:none;
}

.current h2{
	font-family:"billo",sans-serif;
	margin-left:20px;
	margin-top:0;
	margin-bottom:10px;
}

.current p{
	font-family:"mari",sans-serif;
	margin-left:20px;
	margin-top:0;
	margin-bottom:17px;
	font-size:25px;
	width:97%;
}

/*first sidebar here--------------------------------------------------------------------*/

.sidebar{
	width:24%;
	display:flex;
	flex-direction:column;
	gap:18px;
}

.fact1 div{
	margin-bottom:18px;
}

.facts,
.bbp,
.u{
	border-radius:15px;
	background-color:#FFFCE1;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4);
	filter:drop-shadow(0 0 25px #F5CBCB);
	text-align:center;
	align-items:center;
	opacity:0.8;
}

.sidebar h2{
	font-family:"billo",sans-serif;
	color:#FFADEE;
	margin:5px;
	font-size:38px;
}

.sidebar p{
	font-family:"mari",sans-serif;
	margin:5px;
	font-size:25px;
}

.historyoverall img{
	width:170px;
}

.facts{
	border:6px solid #B5B9F0;
}

.bbp{
	border:6px solid #99C2FF;
}

.u{
	border:6px solid #95BDD7;
}

/*second sidebar here--------------------------------------------------------------------*/

.sidebar2{
	width:24%;
	display:flex;
	flex-direction:column;
	gap:15.5px;
}

.sidebar2 div{
	border-radius:15px;
	background-color:#7288AE;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4);
	filter:drop-shadow(0 0 25px #4B5694);
	text-align:center;
	align-items:center;
	opacity:0.8;
}

.sidebar2 h2{
	font-family:"billo",sans-serif;
	color:#F4AE52;
	margin:5px;
	font-size:38px;
}

.sidebar2 p{
	font-family:"mari",sans-serif;
	margin:5px;
	font-size:25px;
}

.unholy{
	border:6px solid #4B5694;
}

.google{
	border:6px solid #4A4466;
}

.janenund{
	border:6px solid #333D6D;
}

/*artists -------------------------------------------------------------------------------*/

.artists{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	position:relative;
	display:none;
}

.top,
.bottom{
	display:flex;
	gap:20px;
}

.top{
	align-items:flex-start;
}

.half1,
.half2{
	flex:1;
}

.glaive,
.jrjrjr,
.gecs,
.charli,
.ag,
.soph,
.porter{
	border-radius:15px;
	background-color:#D9F9DF;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4);
	border:6px solid #9FCBAD;
	filter:drop-shadow(0 0 10px #D9F9DF);
	text-align:center;
	align-items:center;
	opacity:0.9;
	margin-bottom:15px;
}


.porter{
	flex:1;
}

.artists h2{
	font-family:"royal",sans-serif;
	color:#FA6781;
	margin:5px;
	font-size:38px;
}

.artists p{
	font-family:"mari",sans-serif;
	margin:5px;
	font-size:25px;
}

.artists img{
	height:150px;
}

.charli p{
	margin-bottom:10px;
}

/*similar genres -------------------------------------------------------------------------------*/

.similargenres{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	position:relative;
	display:none;
}

.bubble,
.daria,
.glitch,
.digi,
.rock{
	border-radius:15px;
	background-color:#FFA6FB;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4);
	border:6px solid #FF97D0;
	filter:drop-shadow(0 0 15px #FFA6FB);
	text-align:center;
	align-items:center;
	opacity:0.9;
	margin-bottom:15px;
}

.similargenres h2{
	font-family:"royal",sans-serif;
	color:#4BF0FC;
	margin:5px;
	font-size:38px;
}

.similargenres p{
	font-family:"mari",sans-serif;
	margin:5px;
	font-size:25px;
}

.bubble{
	flex:1;
}

.similargenres img{
	height:150px;
}

/*game -----------------------------------------------------------------------------------------*/

.game{
	display:none;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	position:relative;
}

.gameboard{
	display:flex;
	flex-direction:column;
	align-items:center;
	border-radius:15px;
	background-color:#111844;
	box-shadow:8px 8px 16px rgba(0,0,0,0.4);
	border:6px solid #443199;
	filter:drop-shadow(0 0 10px #111844);
	text-align:center;
	align-items:center;
	margin-bottom:15px;
}

.gamescreen{
	position:relative;
	width:950px;
	display:flex;
	justify-content:center;
}


.game h2{
	font-family:"royal",sans-serif;
	color:#4BF0FC;
	margin:5px;
	font-size:38px;
}

.game p{
	font-family:"mari",sans-serif;
	margin:5px;
	font-size:25px;
	color:white;
}

#gamebg{
	width:950px;
}

button{
	font-family:"mari",sans-serif;
	margin:10px;
}

.scorebox{
	text-align:center;
}

#note{
	display:none;
	width:75px;
	position:absolute;
	left:0;
	top:0;
	cursor:pointer;
	transition: left 2s linear, top 2s linear;
	z-index:21;
	margin:0;
	padding:0;
}

#target{
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:75px;
	z-index:20;
	margin:0;
	padding:0;
}

.well{
	display:none;
	font-family:"dyna",sans-serif;
	font-size:60px;
	position:absolute;
	top:0;
	text-align:center;
	z-index:10;
}

@media (max-width: 800px){

	body{
		overflow-x:hidden;
	}

	.gameboard{
		width:95%;
	}

	.gamescreen{
		width:100%;
	}

	#gamebg{
		width:100%;
		height:auto;
	}

	#note,
	#target{
		width:40px;
	}
	
	.title4{
		font-size:30px;
	}
}

/*all animations------------------------------------------------------------*/

/*fade animation*/
@keyframes fade{
	0%   {opacity:0;}
	10%  {opacity:1;}
	60%  {opacity:1;}
	100% {opacity:0;}
}

.fade{
    animation: fade 2s forwards;
}

/*wobble animation*/
@keyframes wobbleandshrink{
	0%{transform:rotate(0deg) scale(1);}
	10%{transform:rotate(30deg) scale(1);}
	20%{transform:rotate(-30deg) scale(1);}
	30%{transform:rotate(25deg) scale(1);}
	40%{transform:rotate(-25deg) scale(1);}
	50%{transform:rotate(20deg) scale(0);}
	60%{transform:rotate(-20deg) scale(0);}
	70%{transform:rotate(15deg) scale(0);}
	80%{transform:rotate(-15deg) scale(0);}
	90%{transform:rotate(5deg) scale(0);}
	100%{transform:rotate(0deg) scale(0);}
}

@keyframes shrink{
	from{
		transform:scale(1);
		opacity:1;
	}
	to{
		transform:scale(0);
		opacity:0;
	}
}

.miss{
	animation: wobbleandshrink 1.5s;
}

.hit{
	animation: shrink 0.5s forwards;
}